<form method="post" class="col-6 m-auto my-3">
    <input type="text" class="form-control" name="Name" placeholder="Category name" />
    <input type="submit" class="btn btn-outline-success mt-2" value="Create" />
</form>