
<form method="post" enctype="multipart/form-data" class="col-6 m-auto my-3">
    <input type="text" class="form-control mb-4" name="Title" placeholder="Title" />
    <input type="text" class="form-control mb-4" name="SubTitle" placeholder="SubTitle" />
    <input type="file" class="form-control mb-4" name="NewPhoto"  />
    <input type="submit" class="btn btn-outline-success mt-2" value="Create" />
</form>

