
<form method="post" enctype="multipart/form-data" class="col-6 m-auto my-3">
    <input type="text" class="form-control my-3" name="Title" placeholder="Title" />
    <textarea class="form-control my-3" name="Content" placeholder="Content"></textarea>
    <input type="file" class="form-control my-3" name="NewPhoto" />
    <select class="my-3" name="tagIds" multiple data-placeholder="Select Tags">
        @foreach (var tag in ViewData["Tags"] as IEnumerable<Tag>)
        {
            <option value="@tag.Id">@tag.Name</option>
        }
    </select>
    <input type="submit" class="btn btn-outline-success mt-3" value="Create" />
</form>